body{
    display: flex;
    flex-direction: column;
    height: 99vh;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 0%;
    font-size: 18px;
}
.logo{
    font-weight: 700;
}
.header, footer{
    background-color: #1F2937;
    color: white;
    padding-inline: 30px;
}
.footer{
    text-align: center;
    padding: 30px;
    background-color: #1F2937;
}
.d1 h1{
    font-weight: 1000;
    font-size: 48px;
    color: #f9faf8;
}   
.content{
    flex: 1;
}
button{
    background-color: #3882F6;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
}
.description{
    flex: 1;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.d1{
    flex: 1;
    text-align: left;
}
.d2{
    flex:1;
    width: 100px;
    height: auto;
}
.infosection{
    flex:1;
    padding: 40px;
}
.ad{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: white;
    gap: 100px;
    padding-inline: 10px;
    justify-content: center;
    margin: 50px;
    border-radius: 10px;
}
.alert{
    display: flex;
    flex-direction: column;
    margin: 0%;
    text-align: left;
}
.chae{
    width: 200px;
    height: auto;
}
.quote{
    flex: 1;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
}
.author{
    text-align: right;
}
.information{
    display: flex;
    padding: 10px 75px;
}
.header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}
